@model IEnumerable<WebProject.Order_Detail>

@{
    ViewBag.Title = "Order Detail - Index";
        if (Session["a"] != null) { Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
    else if (Session["cid"] != null) { Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }
    else if (Session["suid"] != null) { Layout = "~/Views/Shared/_LayoutSupplier.cshtml"; }
    else if (Session["shid"] != null) { Layout = "~/Views/Shared/_LayoutShipper.cshtml"; }
    else if (Session["eid"] != null) { Layout = "~/Views/Shared/_LayoutEmployee.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UnitPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Discount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order.CustomerID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.ProductName)
    </td>
    @{
        if (Session["a"] != null)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { product = item.ProductID, order = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { product = item.ProductID, order = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { product = item.ProductID, order = item.OrderID }) |
                @Html.ActionLink("Product", "Index", "Products", new { product = item.ProductID }, null) |
                @Html.ActionLink("Order", "Index", "Orders", new { order = item.OrderID }, null)
            </td>

        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { product = item.ProductID, order = item.OrderID }) |
                @Html.ActionLink("Product", "Index", "Products", new { product = item.ProductID }, null) |
                @Html.ActionLink("Order", "Index", "Orders", new { order = item.OrderID }, null)
            </td>
        }
    }

    </tr>
    }

</table>
