@{
    ViewBag.Title = "Northwind - Login";
}

<div class="jumbotron">
    <h1>Northwind</h1>
    <p>Let's start by selecting who you are</p>
    @Html.ActionLink("I'm the admin, I know what I'm doing", "Index", "DashAdmin", new { }, null)
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Customer</h2>
        @Html.ActionLink("I'm a customer", "Login", "DashCustomer", new { }, null)
    </div>
    <div class="col-md-3">
        <h2>Employee</h2>
        @Html.ActionLink("I'm an employee", "Login", "DashEmployee", new { }, null)
    </div>
    <div class="col-md-3">
        <h2>Shipper</h2>
        @Html.ActionLink("I'm a shipper", "Login", "DashShipper", new { }, null)
    </div>
    <div class="col-md-3">
        <h2>Supplier</h2>
        @Html.ActionLink("I'm a supplier", "Login", "DashSupplier", new { }, null)
    </div>
 </div>
