@model IEnumerable<WebProject.Category>

@{
    ViewBag.Title = "Categories - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @* TODO add picture*@
        @*<th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>*@
        <th>
            Products
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @* TODO add picture*@
        @*<td>
            <img alt="picture" src="~/Images/@item.Picture.ToString().Substring(10)"/>
        </td>*@
        <td>
            TODO
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID }) |
            @Html.ActionLink("Products", "Index", "Products", new { category = item.CategoryID }, null)
        </td>
    </tr>
}

</table>
