@model IEnumerable<WebProject.Category>

@{
    ViewBag.Title = "Categories - Index";
    if (Session["a"] != null) { Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
    else if (Session["cid"] != null) { Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }
    else if (Session["suid"] != null) { Layout = "~/Views/Shared/_LayoutSupplier.cshtml"; }
    else if (Session["shid"] != null) { Layout = "~/Views/Shared/_LayoutShipper.cshtml"; }
    else if (Session["eid"] != null) { Layout = "~/Views/Shared/_LayoutEmployee.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
    else {     if (Session["a"] != null) { Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
    else if (Session["cid"] != null) { Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }
    else if (Session["suid"] != null) { Layout = "~/Views/Shared/_LayoutSupplier.cshtml"; }
    else if (Session["shid"] != null) { Layout = "~/Views/Shared/_LayoutShipper.cshtml"; }
    else if (Session["eid"] != null) { Layout = "~/Views/Shared/_LayoutEmployee.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; } }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @* TODO add picture*@
        @*<th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>*@
        <th>
            Products
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             @*TODO add picture*@
            @*<td>
                  add picture       
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            @{ 
                if (Session["a"] != null)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }) |
                        @Html.ActionLink("Products", "Index", "Products", new { category = item.CategoryID }, null)
                    </td>

                }
                else
                {
                    <td>
                        @Html.ActionLink("Products", "Index", "Products", new { category = item.CategoryID }, null)
                    </td>
                }
            }
        </tr>
    }

</table>
