@model IEnumerable<WebProject.Shipper>

@{
    ViewBag.Title = "Shippers - Index";
        if (Session["a"] != null) { Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
    else if (Session["cid"] != null) { Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }
    else if (Session["suid"] != null) { Layout = "~/Views/Shared/_LayoutSupplier.cshtml"; }
    else if (Session["shid"] != null) { Layout = "~/Views/Shared/_LayoutShipper.cshtml"; }
    else if (Session["eid"] != null) { Layout = "~/Views/Shared/_LayoutEmployee.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CompanyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    @{
        if (Session["a"] != null)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShipperID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShipperID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShipperID }) |
                @Html.ActionLink("Orders", "Index", "Orders", new { shipper = item.ShipperID }, null)
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ShipperID }) |
                @Html.ActionLink("Orders", "Index", "Orders", new { shipper = item.ShipperID }, null)
            </td>
        }
    }
</tr>
    }

</table>
