@model IEnumerable<WebProject.Supplier>

@{
    ViewBag.Title = "Suppliers - Index";
        if (Session["a"] != null) { Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
    else if (Session["cid"] != null) { Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }
    else if (Session["suid"] != null) { Layout = "~/Views/Shared/_LayoutSupplier.cshtml"; }
    else if (Session["shid"] != null) { Layout = "~/Views/Shared/_LayoutShipper.cshtml"; }
    else if (Session["eid"] != null) { Layout = "~/Views/Shared/_LayoutEmployee.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CompanyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContactName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContactTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Region)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PostalCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Country)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fax)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HomePage)
    </td>
    @{
        if (Session["a"] != null)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SupplierID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SupplierID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SupplierID }) |
                @Html.ActionLink("Products", "Index", "Products", new { supplier = item.SupplierID }, null)
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SupplierID }) |
                @Html.ActionLink("Products", "Index", "Products", new { supplier = item.SupplierID }, null)
            </td>
        }
    }
</tr>
    }

</table>
