@model IEnumerable<WebProject.Category>

@{
    ViewBag.Title = "Admin - Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Categories", "Index", "Categories")
        </td>
        <td>
            @Html.ActionLink("Customers", "Index", "Customers")
        </td>
        <td>
            @Html.ActionLink("Employees", "Index", "Employees")
        </td>
        <td>
            @Html.ActionLink("Orders", "Index", "Orders")
        </td>
        <td>
            @Html.ActionLink("Products", "Index", "Products")
        </td>
        <td>
            @Html.ActionLink("Regions", "Index", "Regions")
        </td>
        <td>
            @Html.ActionLink("Shippers", "Index", "Shippers")
        </td>
        <td>
            @Html.ActionLink("Suppliers", "Index", "Suppliers")
        </td>
        <td>
            @Html.ActionLink("Territories", "Index", "Territories")
        </td>
    </tr>
</table>
