@model IEnumerable<WebProject.Order_Detail>

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Cart</h2>

<p>
    @Html.ActionLink("Checkout", "Checkout", "DashCustomer", new { }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "OrderDetail", new { product = item.ProductID, order = item.OrderID }, null) |
                @Html.ActionLink("Details", "Details", "OrderDetail", new { product = item.ProductID, order = item.OrderID }, null) |
                @Html.ActionLink("Delete", "Delete", "OrderDetail", new { product = item.ProductID, order = item.OrderID }, null)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Continue shopping", "Index", "Products", new { }, null)
</p>
@if (ViewBag.Order != null)
{
    <h1>Order</h1>
    <p>Edit your Order here</p>
    <div>
        @Html.Partial("PartialOrder", ViewBag.Order as WebProject.Order)
    </div>
}

